<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" href="/css/student/header.css">
</head>
<body>
<section layout:fragment="content">
    <section class="container">
        <div class="row">
            <div class="col-md-8" style="display: flex;justify-content: center;align-items: center;">
                <h2 class="font-weight-bold">HKT - ACADEMY Portal</h2>
            </div>
            <div class="col-md-4">
                <h2 class="font-weight-bold">
                    <img src="/teacherDashboard/assets/img/logo.png" alt="Logo" width="200" height="100">
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 bread-crumb">
                <div class="navigation">
                    <a th:href="@{'/student/index'}">Home</a>&nbsp; | &nbsp; <b>Application</b>
                </div>
                <div class="divUser">
                    <span class="label label-success" th:text="${#authentication.getPrincipal().username}"></span>
                     | 
                    <a class="label label-success" th:href="${'/logout'}">Logout</a>
                </div>
            </div>
        </div>
        <section class="row">
            <h2>View Application</h2>
            <section class="col-12">
                <table class="table table-bordered table-hover" style="width: 100%;" id="listApplication"></table>
            </section>
        </section>
    </section>
</section>
<th:block layout:fragment="optional">
    <script src="/js/student/student_application.js"></script>
</th:block>
</body>
</html>
