<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
  <meta charset="UTF-8">
  <title>View schedule for [[${classCode}]]</title>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/student/viewScheduleDetails.css">
  <link rel="stylesheet" href="/css/student/header.css">
</head>
<body>
<section layout:fragment="content">
  <section class="container">
    <div class="row">
      <div class="col-md-8" style="display: flex;justify-content: center;align-items: center;">
          <h2 class="font-weight-bold">HKT - ACADEMY Portal</h2>
      </div>
      <div class="col-md-4">
          <h2 class="font-weight-bold">
              <img src="/teacherDashboard/assets/img/logo.png" alt="Logo" width="200" height="100">
          </h2>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 bread-crumb">
        <div class="navigation">
          <a th:href="@{'/student/index'}">Home</a>&nbsp; | &nbsp; <b>View schedule details</b>
      </div>
          <div class="divUser">
              <span class="label label-success" th:text="${#authentication.getPrincipal().username}"></span>
               | 
              <a class="label label-success" th:href="${'/logout'}">Logout</a>
          </div>
      </div>
  </div>
    <section class="content-header">
      <h5 class="m-0">View schedule for [[${classCode}]]</h5>
    </section>
    <section class="content-body">
      <section class="container-fluid">
        <section class="row mb-3">
          <div class="col-12">
            <input type="text" hidden id="classCode" th:value="${classses.classCode}">
            <input type="text" hidden id="classId" th:value="${classses.getId()}">
            <input type="text" hidden id="shift" th:value="${classses.getShift()}">
          </div>
        </section>
        <section class="row">
          <section class="col-12">
            <label for="semesterSchedule">Select semester</label>
              <select id="semesterSchedule"
                      class="form-control"
                      name="semester"
                      onchange="OnDetailSchedule()"
                      style="width: 100%;">
                <option value="">-----Choose semester------</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
          </section>
          <section class="col-12 cbx_week">
            <label for="week">Select week</label>
            <select id="week"
                    class="form-control"
                    style="width: 100%;" onchange="OnChangeWeek()">
              <option value="">-----Choose week------</option>
              <th:block th:each="week:${weekList}">
                  <option th:value="${week.week}" th:text="${week.date}"></option>
              </th:block>
            </select>
          </section>
          <div class="container-fluid">
            <div class="timetable-img text-center">
              <img src="img/content/timetable.png" alt="">
            </div>
            <div class="table-responsive">
              <table id="schedule_table" class="table table-bordered text-center">
                <thead>
                <tr class="bg-light-gray" style="background-color:#6b90da ">
                  <th colspan="2" class="text-uppercase">Thứ hai</th>
                  <th colspan="2" class="text-uppercase">Thứ ba</th>
                  <th colspan="2" class="text-uppercase">Thứ tư</th>
                  <th colspan="2" class="text-uppercase">Thứ năm</th>
                  <th colspan="2" class="text-uppercase">Thứ sáu</th>
                  <th colspan="2" class="text-uppercase">Thứ bảy</th>
                </tr>
                </thead>
              </table>
              <div class="timetable" style="width: 100%; height:500px">
                <div class="week-names" style="background-color:#6b90da">
                  <div class="dayOfWeek">monday <span class="date_monday"></span></div>
                  <div class="dayOfWeek">tuesday <span class="date_tuesday"></span></div>
                  <div class="dayOfWeek">wednesday <span class="date_wednesday"></span></div>
                  <div class="dayOfWeek">thursday <span class="date_thursday"></span></div>
                  <div class="dayOfWeek">friday <span class="date_friday"></span></div>
                  <div class="dayOfWeek">saturday <span class="date_saturday"></span></div>
                  <div class="dayOfWeek">sunday <span class="date_sunday"></span></div>
                </div>
                <div class="time-interval" style="background-color:lightgray">
                  <div>7:30 - 9:30</div>
                  <div>9:30 - 11:30</div>
                  <div>13:30 - 15:30</div>
                  <div>15:30 - 17:30</div>
                  <div>17:30 - 19:30</div>
                  <div>19:30 - 21:30</div>
                </div>
                <div class="content">
                  <div class="r1_1"></div>
                  <div class="r1_2"></div>
                  <div class="r1_3"></div>
                  <div class="r1_4"></div>
                  <div class="r1_5"></div>
                  <div class="weekend r1_6"></div>
                  <div class="weekend r1_7"></div>
                  <div class="r2_1"></div>
                  <div class="r2_2"></div>
                  <div class="r2_3"></div>
                  <div class="r2_4"></div>
                  <div class="r2_5"></div>
                  <div class="weekend r2_6"></div>
                  <div class="weekend r2_7"></div>
                  <div class="r3_1"></div>
                  <div class="r3_2"></div>
                  <div class="r3_3"></div>
                  <div class="r3_4"></div>
                  <div class="r3_5"></div>
                  <div class="weekend r3_6"></div>
                  <div class="weekend r3_7"></div>
                  <div class="r4_1"></div>
                  <div class="r4_2"></div>
                  <div class="r4_3"></div>
                  <div class="r4_4"></div>
                  <div class="r4_5"></div>
                  <div class="weekend r4_6"></div>
                  <div class="weekend r4_7"></div>
                  <div class="r5_1"></div>
                  <div class="r5_2"></div>
                  <div class="r5_3"></div>
                  <div class="r5_4"></div>
                  <div class="r5_5"></div>
                  <div class="weekend r5_6"></div>
                  <div class="weekend r5_7"></div>
                  <div class="r6_1"></div>
                  <div class="r6_2"></div>
                  <div class="r6_3"></div>
                  <div class="r6_4"></div>
                  <div class="r6_5"></div>
                  <div class="weekend r6_6"></div>
                  <div class="weekend r6_7"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</section>
<th:block layout:fragment="optional">
  <script src="/js/student/viewScheduleDetails.js"></script>
</th:block>
</body>
</html>