<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/teacher_details.css">
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h5 class="m-0">Quản lý nhân viên</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <a th:href="@{'/dashboard/staff/create-staff'}" class="btn btn-info btn-sm">Thêm mới</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="student-table" class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên nhân viên</th>
                                    <th>Chức vụ</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="staff:${staffs}">
                                    <td><span
                                            th:text="${staffs.indexOf(staff)+1}"></span>
                                    </td>
                                    <td><img th:src="${staff.getProfileByProfileId().getAvartarUrl()}" alt="" width="100"
                                             height="100"></td>
                                    <td><span
                                            th:text="${staff.profileByProfileId.firstName +' '+staff.profileByProfileId.lastName}"></span>
                                    </td>
                                    <td><span
                                            th:text="${staff.profileByProfileId.accountByAccountId.roleByRoleId.roleName}"></span>
                                    </td>
                                    <td class="text-center">
                                        <a class="mr-3" th:data-name="${staff.id}" onclick="OnDetails(this.getAttribute('data-name'))"><i class="fas fa-eye indigo-text"></i></a>
                                        <a class="mr-3" th:data-name="${staff.id}" onclick="OnUpdate(this.getAttribute('data-name'))"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="staff_details" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết nhân viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times fa-sm"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <img id="staff_image" style="width: 100%;height: 100%">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-12">
                                                <label>Họ và tên : </label>&nbsp;<span
                                                    id="staff_fullName"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Giới tính : </label>&nbsp;<span
                                                    id="staff_sex"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Chức vụ : </label>&nbsp;<span
                                                    id="staff_role"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Ngày sinh : </label>&nbsp;<span
                                                    id="staff_dob"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Số điện thoại : </label>&nbsp;<span
                                                    id="staff_phone"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Email : </label>&nbsp;<span
                                                    id="staff_email"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>CCCD/CMND : </label>&nbsp;<span
                                                    id="staff_identityId"></span>
                                            </div>
                                            <div class="col-12">
                                                <label>Địa chỉ : </label>&nbsp;<span
                                                    id="staff_address"></span>
                                            </div>
                                            <div class="col-12">
                                                </div>
                                                <input type="hidden" id="accountId" value="">
                                                <input type="hidden" id="email" value="">
                                                <button id="reset_password" class="btn btn-info btn-sm">Đặt lại mật khẩu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                                    class="fas fa-times"></i> Đóng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="staff_update" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Cập nhật giáo viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times fa-sm"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="spinner-divT" class="pt-5">
                                <div class="spinner-border text-primary" role="status">
                                </div>
                            </div>
                            <div class="container">
                                <input type="hidden" id="profileId_u">
                                <input type="hidden" id="accountId_u">
                                <input type="hidden" id="img">
                                <div class="row">
                                    <div class="col-3">
                                        <img id="st_image_u" style="width: 100%;height: 50%">
                                        <input type="file" hidden id="fileAvatar" name="fileAvatar"
                                               onchange="previewImage()">
                                        <button type="button" id="btn-updateImg" onclick="selectFile()"
                                                class="btn btn-primary btn-sm"><i class="fas fa-upload"></i>Cập nhật
                                            hình ảnh
                                        </button>
                                        <div id="btn-function" style="display: none">
                                            <button type="button" onclick="OnUpdateImg()"
                                                    class="btn btn-success btn-sm"><i class="fas fa-check"></i>
                                            </button>
                                            <button type="button" onclick="CancelUpdateImg()"
                                                    class="btn btn-danger btn-sm"><i
                                                    class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="m-0" style="font-size: 13px">Họ :</label>
                                                    <input type="text" id="firstName_u"
                                                           class="form-control form-control-sm"
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="m-0" style="font-size: 13px">Tên :</label>
                                                    <input type="text" id="lastName_u"
                                                           class="form-control form-control-sm"
                                                    >
                                                </div>
                                            </div>

                                            <div class="col-6" style="margin-top: -10px;">
                                                <label style="font-size: 13px">Ngày sinh:</label>
                                                <div class="input-group date" id="reservationdate_u"
                                                     data-target-input="nearest">
                                                    <input type="text"
                                                           class="form-control form-control-sm datetimepicker-input"
                                                           data-target="#reservationdate_u" id="dob_u" name="dob"
                                                           placeholder="Chọn ngày sinh"/>
                                                    <div class="input-group-append" data-target="#reservationdate_u"
                                                         data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label style="font-size: 13px">Giới tính :</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" value="Nam" type="radio"
                                                               name="sex" id="flexRadioDefault1" checked>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            Nam
                                                        </label>
                                                        <input class="form-check-input" value="Nữ" type="radio"
                                                               name="sex" style="margin-left: 15px;"
                                                               id="flexRadioDefault2">
                                                        <label class="form-check-label" style="margin-left: 36px;"
                                                               for="flexRadioDefault2">
                                                            Nữ
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label class="m-0" style="font-size: 13px">Số điện thoại :</label>
                                                <input type="text" id="phone_u"
                                                       class="form-control form-control-sm">
                                            </div>
                                            <div class="col-6">
                                                <label class="m-0" style="font-size: 13px">CCCD/CMND :</label>
                                                <input type="text" id="identityCard_u"
                                                       class="form-control form-control-sm"
                                                >
                                            </div>
                                            <div class="col-12">
                                                <label class="m-0" style="font-size: 13px">Email :</label>
                                                <input type="text" id="email_u"
                                                       class="form-control form-control-sm">
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="m-0" style="font-size: 13px">Tỉnh/TP:</label>
                                                    <select id="province_u" class="form-control select2 form-control-sm"
                                                            name="province_u"
                                                            style="width: 100%;">
                                                        <option selected="selected" value="">-Chọn Tỉnh/TP-</option>
                                                        <option th:each="province : ${provinces}"
                                                                th:value="${province.id}">[[${province.name}]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="m-0" style="font-size: 13px">Quận/Huyện:</label>
                                                    <select id="district_u" class="form-control select2 form-control-sm"
                                                            name="district_u"
                                                            style="width: 100%;">
                                                        <option selected="selected" value="">-Chọn Quận/Huyện-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="m-0" style="font-size: 13px">Xã/Thị trấn:</label>
                                                    <select id="ward_u" class="form-control select2 form-control-sm"
                                                            name="ward_u"
                                                            style="width: 100%;">
                                                        <option selected="selected" value="">-Chọn Xã/Thị trấn-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label class="m-0" style="font-size: 13px">Địa chỉ :</label>
                                                <input type="text" id="address_u"
                                                       class="form-control form-control-sm"
                                                       placeholder="Nhập địa chỉ ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                                    class="fas fa-times"></i> Đóng
                            </button>
                            <button type="button" onclick="OnUpdateSubmit()" class="btn btn-primary btn-sm"><i
                                    class="fas fa-plus"></i> Cập nhật
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
<th:block layout:fragment="optional">
    <script src="/js/staff/staff_index.js"></script>
</th:block>
</body>
</html>
