<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý đơn đăng ký</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="content-wrapper">
            <section class="content-header">
                <h5 class="m-0">Quản lý đơn đăng ký</h5>
            </section>
            <section class="content-body">
                <section class="container-fluid">
                    <section class="row">
                        <div class="col-12">
                            <input type="button" data-toggle="modal" data-target="#create-major-modal"
                                   class="btn btn-info btn-sm"
                                   value="Thêm mới">
                            <a th:href="@{'/dashboard/major/export-excel'}" class="btn btn-success btn-sm">Xuất dữ liệu</a>
                            <input type="file" id="fileUpload" onchange="OnSaveExcelData()" hidden>
                            <a onclick="OnClickImport()" class="btn btn-primary btn-sm">Đổ dữ liệu</a>
                            <a href="" class="btn btn-info btn-sm">Tải mẫu đơn</a>
                        </div>
                    </section>
                    <section class="row">
                        <div class="col-12">

                        </div>
                    </section>
                </section>
            </section>
        </section>
    </div>
</body>
</html>