<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class</title>
    <link rel="stylesheet" href="/css/create_teacher.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Create class</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Create new class</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form id="form-create" action="/dashboard/class/class-create" method="post">
                <div id="spinner-div" class="pt-5">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Class code :</label>
                        <input type="text" class="form-control classCode" id="classCode" name="classCode" readonly="">
                    </div>
                    <div class="col-6">
                        <label>Major code :</label>
                        <select id="majorId" class="form-control major" name="majorId" style="width: 100%;">
                            <option selected="selected" value="">----- Choose major------</option>
                            <th:block th:each="major : ${majors}">
                                <option th:value="${major.id}">[[${major.majorName}]]</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-6">
                        <label>Teacher :</label>
                        <select id="teacherId" class="form-control teacher" name="teacherId" style="width: 100%;">
                            <option selected="selected" value="">----- Choose teacher------</option>
                            <th:block th:each="teacher : ${teachers}">
                                <option th:value="${teacher.id}">[[${teacher.profileByProfileId.firstName + " " +
                                    teacher.profileByProfileId.lastName}]]
                                </option>
                            </th:block>
                        </select>
                    </div>
                    <div class="row col-6">
                        <div class="col">
                            <div class="form-group">
                                <label for="shift">Time :</label>
                                <select id="shift" class="form-control teacher" name="teacherId" style="width: 100%;">
                                    <option value="">-----Choose time------</option>
                                    <option value="M">Morning</option>
                                    <option value="A">Afternoon</option>
                                    <option value="E">Evening</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="dayOfWeek">Day of week:</label>
                                <select id="dayOfWeek" class="form-control teacher" name="teacherId" style="width: 100%;">
                                    <option value="">-----Choose days------</option>
                                    <option value="0">Monday - Wednesday - Friday</option>
                                    <option value="1">Tuesday - Thursday - Saturday</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="startDate">Start time:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate"
                               placeholder="chọn ngày bắt đầu học">
                        <input type="text" id="inputToday" style="display: none">
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="limitStudent">Limit student</label>
                            <input type="number" value="22" class="form-control" id="limitStudent" name="limitStudent"
                                   placeholder="Số Sinh viên tối đa">
                        </div>
                    </div>
                    <br>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="studentList">Import list of
                                student&nbsp;&nbsp;</label><a href="/TempExcel/them-sinh-vien-vao-lop.xlsx" download>Download
                            example file</a>
                            <input type="file" accept=".xlsx" class="form-control" id="studentList" name="studentList">
                        </div>
                    </div>
                    <div class="col-6"></div>

                    <div class="col-6 form-group mx-auto">
                        <button type="submit" id="btn_create_class" class="btn btn-default btn-block">Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="optional">
    <script type="text/javascript" src="/js/class/class_create.js"></script>
</th:block>
</body>
</html>
