<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add news</title>
    <link rel="stylesheet" href="/css/create_news.css">
    <style>

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Add news</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Add new news</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form id="form-create">
                    <div id="spinner-div" class="pt-5">
                        <div class="spinner-border text-primary" role="status">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Thumbnail :</label>
                            <div class="thumbnail d-flex justify-content-center">
                                <div style="width: 50%;border: 1px solid #92b0b3;outline: 2px dashed #92b0b3;">
                                    <img src="/img/blank.png" class="background-choose_image" style="">
                                    <input type="file" id="avatar" name="avatar" hidden>
                                    <span class="errorAvatar">Please choose image</span>
                                    <img src="/img/plus_1.png" class="icon-choose_image" width="40" height="40">
                                    <img src="/img/multiply.png" class="icon-cancel_image" width="40" height="40">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Title :</label>
                            <textarea type="text" cols="3" rows="2" style="resize: none" class="form-control"
                                      name="title" id="title" placeholder="Enter title... "></textarea>
                        </div>
                        <div class="col-12">
                            <label>SubTitle:</label>
                            <textarea type="text" cols="3" rows="2" style="resize: none" class="form-control"
                                      name="sub_title" id="sub_title" placeholder="Enter subtitle... "></textarea>
                        </div>
                        <div class="col-12 d-flex">
                            <label>Display:</label>
                            <div class="custom-control custom-switch" style="margin-left: 15px">
                                <input type="checkbox" class="custom-control-input" id="isActive" checked>
                                <label class="custom-control-label" for="isActive"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Content:</label>
                            <div id="editor">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btn_create_news" class="btn btn-default">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="optional">
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/js/HelperJs.js"></script>
    <script src="/js/news/create_news.js"></script>
</th:block>
</body>
</html>
