<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thêm tin tức</title>
    <link rel="stylesheet" href="/css/create_news.css">
    <style>

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Thêm mới tin tức</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Thêm mới tin tức</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form id="form-create">
                    <div id="spinner-div" class="pt-5">
                        <div class="spinner-border text-primary" role="status">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Thumbnail :</label>
                            <div class="thumbnail d-flex justify-content-center">
                                <div style="width: 50%;border: 1px solid #92b0b3;outline: 2px dashed #92b0b3;">
                                    <img src="/img/blank.png" class="background-choose_image" style="">
                                    <input type="file" id="avatar" name="avatar" hidden>
                                    <span class="errorAvatar">Vui lòng chọn hình ảnh</span>
                                    <img src="/img/plus_1.png" class="icon-choose_image" width="40" height="40">
                                    <img src="/img/multiply.png" class="icon-cancel_image" width="40" height="40">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Tiêu đề :</label>
                            <textarea type="text" cols="3" rows="2" style="resize: none" class="form-control"
                                      name="title" id="title" placeholder="Nhập tiêu đề "></textarea>
                        </div>
                        <div class="col-12">
                            <label>Tiêu đề con:</label>
                            <textarea type="text" cols="3" rows="2" style="resize: none" class="form-control"
                                      name="sub_title" id="sub_title" placeholder="Nhập tiêu đề con "></textarea>
                        </div>
                        <div class="col-12 d-flex">
                            <label>Hiển thị:</label>
                            <div class="custom-control custom-switch" style="margin-left: 15px">
                                <input type="checkbox" class="custom-control-input" id="isActive" checked>
                                <label class="custom-control-label" for="isActive"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Nội dung :</label>
                            <div id="editor">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btn_create_news" class="btn btn-default">Tạo tin tức
                        </button>
                        <a id="import_file" onclick="OnImportFile()" class="btn btn-primary">Đỗ dữ liệu (.docx)</a>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="modal_import_file" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Đỗ dữ liệu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times fa-sm"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <section class="row mb-3">
                                    <section class="form-group form-control-sm col-12">
                                        <label class="font-weight-normal f-13">Chọn tệp mẫu</label>
                                        <input type="file" class="form-control-file border" id="file_import">
                                        <span class="text-danger mb-3" id="error-file"></span>
                                    </section>
                                </section>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                                    class="fas fa-times"></i> Đóng
                            </button>
                            <button type="button" onclick="OnImportFileSubmit()" class="btn btn-primary btn-sm"><i
                                    class="fas fa-plus"></i> Thêm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="optional">
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/js/HelperJs.js"></script>
    <script src="/js/news/create_news.js"></script>
</th:block>
</body>
</html>
