<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết giáo viên</title>
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <link rel="stylesheet" href="/css/teacher_details.css">
</head>
<body>
<div layout:fragment="content">
  <section>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5 class="m-0">Chi tiết giáo viên</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <img th:src="${teacher.getProfileByProfileId().getAvartarUrl()}" width="200" height="200">
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-4">
                  <label>Họ và tên : </label>&nbsp;<span
                        th:text="${teacher.getProfileByProfileId().firstName +' '+teacher.getProfileByProfileId().lastName}"></span>
                </div>
                <div class="col-4">
                  <label>Ngày sinh : </label>&nbsp;<span
                        th:text="${teacher.profileByProfileId.dob}"></span>
                </div>
                <div class="col-4">
                  <label>Số điện thoại : </label>&nbsp;<span
                        th:text="${teacher.profileByProfileId.phone}"></span>
                </div>
                <div class="col-4">
                  <label>Email : </label>&nbsp;<span
                        th:text="${teacher.profileByProfileId.email}"></span>
                </div>
                <div class="col-4">
                  <label>CCCD/CMND : </label>&nbsp;<span
                        th:text="${teacher.profileByProfileId.identityCard}"></span>
                </div>
                <div class="col-8">
                  <label>Địa chỉ : </label>&nbsp;<span
                        th:text="${teacher.profileByProfileId.address+' , '+teacher.profileByProfileId.wardByWardId.name+' , '+teacher.profileByProfileId.districtByDistrictId.name+' , '+teacher.profileByProfileId.profileProvince.name}"></span>
                </div>
                <div class="col-12">
                  <div id="spinner-div" class="pt-5">
                    <div class="spinner-border text-primary" role="status">
                    </div>
                  </div>
                  <input type="hidden" id="accountId" th:value="${teacher.profileByProfileId.accountByAccountId.id}">
                  <input type="hidden" id="email" th:value="${teacher.profileByProfileId.email}">
                  <button id="reset_password" class="btn btn-info btn-sm">Đặt lại mật khẩu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<th:block layout:fragment="optional">
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/toastr/toastr.min.js"></script>
  <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="/js/teacher_details.js"></script>
</th:block>
</body>
</html>