<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Môn học</title>
</head>
<body>
<section layout:fragment="content">
    <section>
        <section class="content-wrapper">
            <section class="content-header">
                <h5 class="m-0">Quản lý môn học</h5>
            </section>
            <section class="content-body">
                <section class="container-fluid">
                    <section class="row mb-3">
                        <section class="col-12">
                            <button data-toggle="modal" data-target="#subject-modal" class="btn btn-info btn-sm">
                                <i class="fas fa-plus" th:if="${#authorization.expression('hasAnyAuthority(''STAFF'')')}"></i> Thêm mới
                            </button>
                        </section>
                    </section>
                    <section class="row">
                        <section class="col-12">
                            <table id="subject-table" class="table table-bordered table-striped">
                                <thead>
                                <tr class="text-center">
                                    <th class="th-sm">Mã môn học</th>
                                    <th class="th-sm">Tên môn học</th>
                                    <th class="th-sm">Học phí</th>
                                    <th class="th-sm">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="item:${listSubject}">
                                    <td>[[${item.subjectCode}]]</td>
                                    <td>[[${item.subjectName}]]</td>
                                    <td>
                                        [[${#strings.replace(#strings.replace(#numbers.formatCurrency(item.fee),'.00',''),'$','')}]]
                                        vnd
                                    </td>
                                    <td class="text-center">
                                        <a th:data-name="${item.id}"
                                           onclick="OnEditSubject(this.getAttribute('data-name'))" class="mr-3"><i
                                                class="fas fa-pen indigo-text"></i></a>
                                        <a th:href="@{'dashboard/subject/delete/' + ${item.id}}"><i
                                                class="fas fa-trash red-text"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>

    <div class="modal fade" id="subject-modal" data-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới môn học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times fa-sm"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="create-form">
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Mã môn học</label>
                            <input type="text" name="create_subject_code_validate" th:id="create_subject_code"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập mã môn học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Tên môn học</label>
                            <input type="text" name="create_subject_name_validate" th:id="create_subject_name"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập mã tên môn học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Học phí</label>
                            <input type="text" onkeyup="OnFormatCurrency(this)" name="create_fee_validate"
                                   th:id="create_fee"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập học phí">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Số tiết học</label>
                            <input type="text" name="create_slot_validate" th:id="create_slot"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập số tiết học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Học kì</label>
                            <select th:id="create_semester_id" class="form-control select2-single form-control-sm">
                                <option th:each="item:${listSemester}" th:value="${item.id}">[[${item.semesterCode}]]
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Ngành học</label>
                            <select th:id="create_major_id" class="form-control select2-single form-control-sm">
                                <option th:each="item:${listMajor}" th:value="${item.id}">[[${item.majorName}]]</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="OnCreateSubject()" class="btn btn-primary btn-sm"><i
                            class="fas fa-plus"></i> Tạo
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="subject-edit-modal" data-backdrop="static"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật môn học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times fa-sm"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" th:id="edit_id" hidden>
                    <form th:id="edit-form">
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Mã môn học</label>
                            <input type="text" name="edit_subject_code_validate" th:id="edit_subject_code"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập mã môn học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Tên môn học</label>
                            <input type="text" name="edit_subject_name_validate" th:id="edit_subject_name"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập mã tên môn học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Học phí</label>
                            <input type="text" name="edit_fee_validate" th:id="edit_fee"
                                   onkeyup="OnFormatCurrency(this)"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập học phí">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Số tiết học</label>
                            <input type="text" name="edit_slot_validate" th:id="edit_slot"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập số tiết học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Học kì</label>
                            <select id="edit_semester_id" class="form-control select2-single">
                                <option>----Chọn học kì----</option>
                                <option th:each="item:${listSemester}" th:value="${item.id}">[[${item.semesterCode}]]
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Ngành học</label>
                            <select th:id="edit_major_id" class="form-control select2-single">
                                <option th:each="item:${listMajor}" th:value="${item.id}">[[${item.majorName}]]</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="OnUpdateSubject()" class="btn btn-primary btn-sm"><i
                            class="fas fa-plus"></i> Cập nhật
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
<th:block layout:fragment="optional">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>
    <script src="/plugins/select2/js/select2.full.js"></script>
    <script src="/js/subject/subject.js"></script>
</th:block>
</body>
</html>
