<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
  <meta charset="UTF-8">
  <title>List of staff</title>
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/teacher_details.css">
</head>
<body>
<div layout:fragment="content">
  <section>
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h5 class="m-0">Room Manager</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <input type="button" class="btn btn-info btn-sm" data-target="#room_create"
                     data-toggle="modal" value="Create">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <table id="student-table" class="table table-bordered">
                <thead>
                <tr class="text-center">
                  <th>STT</th>
                  <th>Room code</th>
                  <th>Class in room</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:each="room:${listRoom}">
                  <td><span
                          th:text="${listRoom.indexOf(room)+1}"></span>
                  </td>
                  <td><span
                          th:text="${room.getRoomCode()}"></span>
                  </td>
                  <td>
                    <th:block th:each="classes:${room.getRoomClass()}">
                        <span th:text="${classes.getClassCode()+' '}"></span>
                    </th:block>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal fade" id="room_create" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create room</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-sm"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <form id="room_create-form">
                      <div class="form-group">
                        <label class="m-0" style="font-size: 13px">Room code</label>
                        <input type="text" name="room_code_validate" id="room_code"
                               class="form-control form-control-sm">
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                          class="fas fa-times"></i> Close
                  </button>
                  <button type="button" id="btn_create_room" class="btn btn-info btn-sm"><i
                          class="fas fa-plus"></i> Create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<th:block layout:fragment="optional">
  <script src="/js/room/index.js"></script>
</th:block>
</body>
</html>
