<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Sửa điểm danh</title>
</head>
<body>
<section layout:fragment="content">
    <section class="container">
        <section class="content-header">
            <h5 class="m-0">Điểm danh</h5>
        </section>
        <section class="content-body">
            <section class="container-fluid">
                <section class="row mb-3">
                    <div class="col-12">
                        <select class="form-control select2" onchange="OnChangeClass2()" name="" id="classList">
                            <option value="">Chọn lớp</option>
                            <option th:each="items:${listClass}" th:value="${items.class_id}">[[${items.class_name +"   ( "+ items.date +"  -  " + items.subject_name + " - " + items.subject_code + " )"}]]</option>
                        </select>
                        <section>
                            <label>Ngày</label>
                            <div class="input-group date" id="attendance_date" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                       data-target="#attendance_date" id="attendanceDate" name="attendanceDate"
                                       placeholder="Chọn ngày"/>
                                <div class="input-group-append" data-target="#attendance_date"
                                     data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="row">
                    <section class="col-12">
                        <table class="table table-hover table-bordered" id="listStudent">
                        </table>
                        <div class="d-flex justify-content-center">
                            <input type="button" id="btnOnUpdate" onclick="OnUpdateAttendance()" value="Cập nhật" style="width: 200px" class="btn btn-primary btn-sm mb-2 d-none">
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<th:block layout:fragment="optional">
    <script src="/js/HelperJs.js"></script>
    <script src="/js/attendance/attendance.js"></script>
</th:block>
</body>
</html>
