<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<section layout:fragment="content">
    <section class="container">
        <h2 class="font-weight-bold">ACADEMY SYSTEM</h2>
        <ul>
            <li><a href="/teacher/attendance/index">Take attendance</a></li>
            <li>
                <a href="">Report attendance</a>
            </li>
        </ul>
    </section>
</section>
</body>
</html>
