<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{teacherDashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Class [[${class.classCode}]]</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/student_details.css">
</head>
<body>
<div layout:fragment="content" class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Class Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/teacher/classes'}">Find all</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table comman-shadow">
                <div class="card-body">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="col">
                                    <table style="width:100%; height:100%">
                                        <tr>
                                            <td>
                                                <table style="width:100%; height: 100%">
                                                    <tr>
                                                        <td style="width:40%; height: 100%"><h5 class="text-bold"><b>Class:&nbsp;</b>
                                                        </h5></td>
                                                        <td><h5>[[${class.classCode}]]</h5></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width:100%; height: 100%">
                                                    <tr>
                                                        <td style="width:40%; height: 100%"><h5 class="text-bold"><b>Teacher:&nbsp;</b>
                                                        </h5></td>
                                                        <td><h5>[[${class.teacher.profileByProfileId.firstName}]]&nbsp;[[${class.teacher.profileByProfileId.lastName}]]</h5>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="d-flex justify-content-end">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width:100%; height: 100%">
                                                    <tr>
                                                        <td style="width:40%; height: 100%"><h5 class="text-bold"><b>Number
                                                            of Students:&nbsp;</b></h5></td>
                                                        <td><h5>
                                                            [[${#lists.size(class.studentClassById)}]]/[[${class.limitStudent}]]
                                                            Students</h5></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td class="d-flex justify-content-end">
                                                <a data-bs-target="#mark_score" data-bs-toggle="modal"
                                                   class="btn btn-primary btn-sm me-1">Input mark</a>
                                                <a data-bs-target="#details_schedule" data-bs-toggle="modal"
                                                   class="btn btn-primary btn-sm me-1">View time table</a>
                                                <a th:href="@{'/dashboard/class/export-student-excel/'+${class.id}}"
                                                   class="btn btn-success btn-sm">Download list student</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row table-responsive">
                        <div class="col-12">
                            <div class="d-flex align-items-center mb-3 col-md-6">
<!--                                <label class="me-2">Find by Major :</label>-->
<!--                                <div class="mb-2" style="width: 100%" id="select-major"></div>-->
                            </div>
                            <table id="student-table" class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Student Code</th>
                                    <th>Student Name</th>
                                    <th>Date of Birth</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="student:${class.studentClassById}">
                                    <td><span th:text="${class.studentClassById.indexOf(student)+1}"></span></td>
                                    <td><span th:text="${student.classStudentByStudent.studentCard}"></span></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a th:data-name="${student.classStudentByStudent.id}" onclick="OnDetails(this.getAttribute('data-name'))" class="avatar avatar-sm me-2">
                                                <img class="avatar-img rounded-circle" th:src="${student.classStudentByStudent.studentByProfile.avartarUrl}" alt="student-img">
                                            </a>
                                            <a th:data-name="${student.classStudentByStudent.id}" onclick="OnDetails(this.getAttribute('data-name'))"></a>
                                        </h2>
                                        <span th:text="${student.classStudentByStudent.studentByProfile.firstName +' '+student.classStudentByStudent.studentByProfile.lastName}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${student.classStudentByStudent.studentByProfile.getDob()}"></span>
                                    </td>
                                    <td class="text-center">
                                        <a class="mr-3" th:data-name="${student.classStudentByStudent.id}" onclick="OnDetails(this.getAttribute('data-name'))"><i class="fas fa-eye indigo-text"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->

        <!--Timetable-->
        <div class="modal fade" id="details_schedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">View Time Table</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times fa-sm"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form id="schedule_details_form">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="semesterSchedule">Semester:</label>
                                        <select id="semesterSchedule" onchange="OnChangeSemesterSchedule()" class="form-control" name="semesterSchedule" style="width: 100%;">
                                            <option value="">-----Choose semester------</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="container">
                            <div class="container">
                                <div class="timetable-img text-center">
                                    <img src="img/content/timetable.png" alt="">
                                </div>
                                <div class="float-right"><a id="btn_update_schedule" class="btn btn-info btn-sm">Edit</a></div>
                                <a id="btnDownSchedule" class="btn btn-danger btn-sm">Download</a>
                                <div class="table-responsive">
                                    <table id="schedule_table" class="table table-bordered text-center">
                                        <thead>
                                        <tr class="bg-light-gray">
                                            <th colspan="2" class="text-uppercase">Monday</th>
                                            <th colspan="2" class="text-uppercase">Tuesday</th>
                                            <th colspan="2" class="text-uppercase">Wednesday</th>
                                            <th colspan="2" class="text-uppercase">Thursday</th>
                                            <th colspan="2" class="text-uppercase">Friday</th>
                                            <th colspan="2" class="text-uppercase">Saturday</th>
                                            <th colspan="2" class="text-uppercase">Sunday</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                                class="fas fa-times"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Mark score-->
        <div class="modal fade" id="mark_score" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mark Score</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times fa-sm"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form id="form_import_mark" enctype="multipart/form-data">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="mark_list">Input mark list</label><a href="/TempExcel/mark-list.xlsx" download>Download example file</a>
                                        <input type="file" accept=".xlsx" class="form-control" id="mark_list" name="mark_list">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control btn-primary" type="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                            <table id="myTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Numbers</th>
                                    <th>Student code</th>
                                    <th>Student name</th>
                                    <th>Subject code</th>
                                    <th>ASM mark</th>
                                    <th>OBJ mark</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Input hidden-->
        <input type="hidden" id="classId" th:value="${class.id}">
        <input type="hidden" id="classCode" th:value="${class.classCode}">
        <input type="hidden" id="teacherId" th:value="${class.teacher.getId()}">
    </div>
</div>

<th:block layout:fragment="optional">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<!--    <script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>-->
    <script type="text/javascript" src="/teacherDashboard/assets/js/customJs/class-details.js"></script>
</th:block>
</body>
</html>
