<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{teacherDashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div layout:fragment="content" class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Class</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{'/teacher/classes'}">Find All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table comman-shadow">
                <div class="card-body">
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="d-flex align-items-center col-md-8 mb-2">
                                <label class="col-md-2 m-0 pe-2">Find by major:</label>
                                <div style="width: 100%" id="select-major"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row table-responsive">
                        <div class="col-12">
                            <table id="class-table" class="table table-bordered table-striped">
                                <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Class Code</th>
                                    <th>Teacher</th>
                                    <th>Major</th>
                                    <th>Number of Students</th>
                                    <th>Limit student</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="class:${classes}">
                                    <td><span th:text="${classes.indexOf(class)+1}"></span></td>
                                    <td><span th:text="${class.getClassCode()}"></span></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a th:data-name="${class.getTeacherId()}" onclick="OnDetails(this.getAttribute('data-name'))" class="avatar avatar-sm me-2">
                                                <img class="avatar-img rounded-circle" th:src="${class.getTeacher().getProfileByProfileId().getAvartarUrl()}" alt="student-img">
                                            </a>
                                        </h2>
                                        <a th:data-name="${class.getTeacherId()}" onclick="OnDetails(this.getAttribute('data-name'))">
                                            <span th:text="${class.teacher.profileByProfileId.getFirstName()+' '+class.teacher.profileByProfileId.getLastName()}"/>
                                        </a>
                                    </td>
                                    <td><span th:text="${class.major.getMajorName()}"></span></td>
                                    <td><span th:text="${class.studentClassById.size()}"></span></td>
                                    <td><span th:text="${class.getLimitStudent()}"></span></td>
                                    <td class="text-center">
                                        <a class="mr-3" th:href="${'/teacher/class/'+ class.getClassCode()}"><i class="fas fa-eye indigo-text"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="optional">
    <script type="text/javascript" src="/teacherDashboard/assets/js/customJs/class.js"></script>
</th:block>
</body>
</html>
