<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Major Index</title>
    <style>
        .font-13 {
            font-size: 13px;
        }

        .error {
            color: red;
            font-weight: normal !important;
            font-size: 13px;
            margin: 0 !important;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h5 class="m-0">Quản lý ngành học</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <input type="button" data-toggle="modal" data-target="#major-modal"
                                   class="btn btn-info btn-sm"
                                   value="Thêm mới">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table th:id="major-table" class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th>Mã ngành học</th>
                                    <th>Tên ngành học</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="item:${listMajor}">
                                    <td>[[${item.majorCode}]]</td>
                                    <td>[[${item.majorName}]]</td>
                                    <td class="text-center">
                                        <a class="mr-3"><i class="fas fa-eye indigo-text"></i></a>
                                        <a methods="delete" th:href="@{'/major/delete/' + ${item.id}}"><i
                                                class="fas fa-trash red-text"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="major-modal" data-backdrop="static" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm mới ngành học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times fa-sm"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:id="create-form">
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Mã ngành học</label>
                            <input type="text" name="create_major_code_validate" th:id="create_major_code"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập mã ngành học">
                        </div>
                        <div class="form-group">
                            <label class="m-0" style="font-size: 13px">Tên ngành học</label>
                            <input type="text" name="create_major_name_validate" th:id="create_major_name"
                                   class="form-control form-control-sm"
                                   placeholder="Nhập tên ngành học">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                            class="fas fa-times"></i> Đóng
                    </button>
                    <button type="button" onclick="OnCreateMajor()" class="btn btn-primary btn-sm"><i
                            class="fas fa-plus"></i> Tạo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="optional">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/select2/js/select2.full.js"></script>
    <script>
        $(() => {
            $("#create-form").validate({
                rules: {
                    create_major_code_validate: {
                        required: true
                    },
                    create_major_name_validate: {
                        required: true
                    }
                }, messages: {
                    create_major_code_validate: {
                        required: "Vui lòng nhập mã ngành"
                    },
                    create_major_name_validate: {
                        required: "Vui lòng nhập tên ngành"
                    }
                }
            })
            $("#major-table").dataTable();
        });
        var OnCreateMajor = () => {
            if ($("#create-form").valid()) {
                var major_code = $("#create_major_code").val();
                var major_name = $("#create_major_name").val();
                var formData = {
                    "majorCode": major_code,
                    "majorName": major_name
                }
                $.ajax({
                    url: "/major/post",
                    contentType: "application/json",
                    dataType: "json",
                    method: "post",
                    data: JSON.stringify(formData),
                    success: (data) => {
                        console.log(data);
                    }
                });
            }
        }
    </script>
</th:block>
</body>
</html>