<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thêm sinh viên</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Thêm mới sinh viên</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Thêm mới sinh viên</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        <div class="md-form input-with-pre-icon">
                            <i class="fas fa-user input-prefix"></i>
                            <input type="text" id="prefixInside" class="form-control">
                            <label for="prefixInside">Example label </label>
                        </div>
                        <div class="md-form input-with-pre-icon">
                            <i class="fas fa-user input-prefix"></i>
                            <input type="text" id="prefixInside1" class="form-control">
                            <label for="prefixInside1">Example label </label>
                        </div>
                        <div class="md-form input-with-pre-icon">
                            <i class="fas fa-user input-prefix"></i>
                            <input type="text" id="prefixInside2" class="form-control">
                            <label for="prefixInside2">Example label </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
