<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/index}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="/css/student_details.css">
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h5 class="m-0">Quản lý sinh viên</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <a th:href="@{'/dashboard/create-student'}" class="btn btn-info btn-sm">Thêm mới</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>Tìm kiếm theo nghành học :</label>
                            <div id="select-major"></div>
                            <table id="student-table" class="table table-bordered">
                                <thead>
                                <tr class="text-center">
                                    <th>Hình ảnh</th>
                                    <th>Mã sinh viên</th>
                                    <th>Tên sinh viên</th>
                                    <th>Nghành học</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="student:${students}">
                                    <td><img th:src="${student.studentByProfile.getAvartarUrl()}" alt="" width="100"
                                             height="100"></td>
                                    <td><span
                                            th:text="${student.studentByProfile.firstName +' '+student.studentByProfile.lastName}"></span>
                                    </td>
                                    <td><span th:text="${student.studentCard}"></span></td>
                                    <td>
                                        <th:block th:each="major :${student.majorStudentsById}">
                                            [[${major.majorByMajorId.majorName}]]
                                        </th:block>
                                    </td>
                                    <td class="text-center">
                                        <a class="mr-3" th:data-name="${student.id}" onclick="OnDetails(this.getAttribute('data-name'))" ><i class="fas fa-eye indigo-text"></i></a>
                                        <a class="mr-3" th:href="@{'/dashboard/student_update/' + ${student.id}}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="student_details" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times fa-sm"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">
                                        <img id="st_image" style="width: 100%;height: 100%">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <label>Họ và tên : </label>&nbsp;<span
                                                    id="st_fullName"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Mã số sinh viên : </label>&nbsp;<span
                                                    id="st_card"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Ngày sinh : </label>&nbsp;<span
                                                    id="st_dob"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Số điện thoại : </label>&nbsp;<span
                                                    id="st_phone"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Email : </label>&nbsp;<span
                                                    id="st_email"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>CCCD/CMND : </label>&nbsp;<span
                                                    id="st_identityId"></span>
                                            </div>
                                            <div class="col-12">
                                                <label>Địa chỉ : </label>&nbsp;<span
                                                    id="st_address"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Nghành học : </label>&nbsp;<span
                                                    id="st_major"></span>
                                            </div>
                                            <div class="col-6">
                                                <label>Lớp học : </label>&nbsp;
                                                <span
                                                    id="st_class"></span>
                                            </div>
                                            <div class="col-12">
                                                <div id="spinner-div" class="pt-5">
                                                    <div class="spinner-border text-primary" role="status">
                                                    </div>
                                                </div>
                                                <input type="hidden" id="accountId" value="">
                                                <input type="hidden" id="email" value="">
                                                <button id="reset_password" class="btn btn-info btn-sm">Đặt lại mật khẩu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i
                                    class="fas fa-times"></i> Đóng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="optional">
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/select2/js/select2.full.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#student-table').DataTable({
                "oLanguage": {
                    "sSearch": "Tìm kiếm :"
                },
                "lengthMenu": [5, 10, 25, 50, 75, 100],
                initComplete: function () {
                    count = 0;
                    this.api().columns([3]).every(function (i) {
                        var title = this.header();
                        //replace spaces with dashes
                        title = $(title).html().replace(/[\W]/g, '');
                        var column = this;
                        var select = $('<select id="' + title + '" class="form-control form-control-sm select2" style="width: 50%" ></select>')
                            .appendTo($('#select-major'))
                            .on('change', function () {
                                //Get the "text" property from each selected data
                                //regex escape the value and store in array
                                var data = $.map($(this).select2('data'),
                                    function (value, key) {
                                        return value.text ? '^' + $.fn.dataTable.util.escapeRegex(value.text) + '$' : null;
                                    });
                                //if no data selected use ""
                                if (data.length === 0) {
                                    data = [""];
                                }
                                //join array into string with regex or (|)
                                var val = data.join('|');
                                //search for the option(s) selected
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                        //use column title as selector and placeholder
                        $('#' + title).select2({
                            closeOnSelect: true,
                            placeholder: "- All -",
                            allowClear: true,
                            width: 'resolve'
                        });

                        //initially clear select otherwise first option is selected
                        $('.select2').val(null).trigger('change');
                    });
                },
            })

            $('.dataTables_filter input[type="search"]').css(
                {'width':'350px','display':'inline-block'}
            );
            $('#reset_password').on('click',()=>{
                Confirm('Đặt lại mật khẩu', 'Có chắc chắn muốn đặt lại mật khẩu?', 'Có', 'Không')
            })
            function Confirm(title, msg, $true, $false) { /*change*/
                var $content =  "<div class='dialog-ovelay'>" +
                    "<div class='dialog'><header>" +
                    " <h3> " + title + " </h3> " +
                    "<i class='fa fa-close'></i>" +
                    "</header>" +
                    "<div class='dialog-msg'>" +
                    " <p> " + msg + " </p> " +
                    "</div>" +
                    "<footer>" +
                    "<div class='controls'>" +
                    " <button class='button button-danger doAction'>" + $true + "</button> " +
                    " <button class='button button-default cancelAction'>" + $false + "</button> " +
                    "</div>" +
                    "</footer>" +
                    "</div>" +
                    "</div>";
                $('body').prepend($content);
                $('.doAction').click(function () {
                    var data = new FormData();
                    data.append("id",$('#accountId').val());
                    data.append("email",$('#email').val());
                    $('#spinner-div').show()
                    $("#student_details").modal("hide");
                    $.ajax({
                        url:"/dashboard/student/reset_password",
                        method:"POST",
                        cache : false,
                        processData: false,
                        contentType: false,
                        data:data,
                        success:(data)=>{
                            console.log(data)
                        },
                        complete:()=>{
                            toastr.success('Đặt lại mật khẩu thành công')
                            $('#spinner-div').hide()
                        }
                    })
                    $(this).parents('.dialog-ovelay').fadeOut(500, function () {
                        $(this).remove();
                    })
                });
                $('.cancelAction, .fa-close').click(function () {
                    $(this).parents('.dialog-ovelay').fadeOut(500, function () {
                        $(this).remove();
                    });
                });

            }

        });
        var OnDetails = (id) => {
            $.ajax({
                url: "/dashboard/student_details/" + id,
                dataType: "json",
                contentType: "application/json",
                method: "GET",
                success: (data) => {
                    console.log(data)
                    $('#st_image').attr('src',data.studentByProfile.avartarUrl)
                    $('#st_fullName').html(data.studentByProfile.firstName+' '+data.studentByProfile.lastName)
                    $('#st_card').html(data.studentCard)
                    $('#st_dob').html(data.studentByProfile.dob)
                    $('#st_phone').html(data.studentByProfile.phone)
                    $('#st_email').html(data.studentByProfile.email)
                    for(var major of data.majorStudentsById){
                        $('#st_major').html(major.majorByMajorId.majorName)
                    }

                    if(data.studentClassById.length == 0){
                        $('#st_class').html('Chưa có')
                    }else{
                        for(var classes of data.studentClassById){
                            $('#st_class').html(classes.classStudentByClass.classCode)
                        }
                    }
                    $('#st_identityId').html(data.studentByProfile.identityCard)
                    $('#st_address').html(data.studentByProfile.address+' , '+data.studentByProfile.wardByWardId.name+' , '+data.studentByProfile.districtByDistrictId.name+' , '+data.studentByProfile.profileProvince.name)
                    $('#accountId').val(data.studentByProfile.accountByAccountId.id)
                    $('#email').val(data.studentByProfile.email)
                    $("#student_details").modal("show");
                }, error: (data) => {
                    console.log(data);
                }
            });
        }

    </script>
</th:block>
</body>
</html>